{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "build/infection/infection.log",
        "summary": "build/infection/summary.log",
        "perMutator": "build/infection/per-mutator.md",
        "badge": {
            "branch": "master"
        }
    },
    "tmpDir": "/tmp",
    "mutators": {
        "@default": true
    },
    "testFramework":"phpunit",
    "initialTestsPhpOptions": "-d zend_extension=xdebug.so",
    "testFrameworkOptions": "-vvv"
}
